@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/alexbrush-regular-otf-webfont.eot');
    src: url('fonts/alexbrush-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alexbrush-regular-otf-webfont.woff') format('woff'),
         url('fonts/alexbrush-regular-otf-webfont.ttf') format('truetype'),
         url('fonts/alexbrush-regular-otf-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-size: 1em;
    line-height: 1.4;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main-container {
    padding-bottom: 6em; /* pour ne pas aller au dessus du footer */
}
#main {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 55%;
  margin: 2em 1em 5em 35%;
}
footer {
  font-size: 60%;
  text-align: center;
  line-height: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#copyleft img {
  margin: 0;
  float: left;
}
#copyleft {
  margin: 5px;
}
html {
  background: url('/img/lcottereau_irlande.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  background-color: black;
}
a {
  color: #ccf;
}
a:visited {
  color: white;
}
a:hover {
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 0.1em 0 0 0;
  font-family: 'alex_brushregular';
  font-size: 6em;
  font-weight: normal;
  line-height: 1;
}
nav ul {
  padding: 0;
  width: 512px;
  margin: 1em auto;
}
nav li {
  float: left;
}
nav img {
  border-radius: 10px;
}
nav a:hover img {
  background-color: rgba(0, 0, 0, 0.5);
}








/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (max-width: 1000px) {
  html {
    background-image: none;
    background-color: white;
    color: black;
  }
  header {
    background: url('/img/lcottereau_irlande_small.jpg') no-repeat center top;
    padding: 1em 1em 1em 30%;
    border-bottom: 2px black solid;
  }
  h1 {
    font-size: 5em;
  }
  #main {
    border-radius: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    margin: 0;
  }
  article, nav {
    margin: 0 10%;
  }
  a {
    color: black;
  }
  a:visited {
    color: black;
  }
  nav img {
    background-color: black;
    margin: 5px;
  }
  nav ul {
    width: 100%;
  }
  footer {
    position: relative;
    background-color: white;
    border-top: 2px black solid;
    padding: 0;
  }
  #main-container {
    padding-bottom: 2em;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 1em;
    background-image: none;
  }
  h1 {
    font-size: 4em;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
